<div class="row">
  <div class="col-12">
    <a  data-toggle="collapse" href="#fragment<%= fragment.id %>" role="button" class="list-group-item list-group-item-action flex-column align-items-start <%= 'list-group-item-warning' if fragment.category == 'note' %>">
      <% if fragment.category == 'note' %>
        <span class="badge badge-info"><%= t('note.type.note') %></span>
      <% else %>
        <span class="badge badge-dark"><%= t('note.type.highlight') %></span>
      <% end %>

      <div class="d-flex w-90 justify-content-between">
        <h5 class="mb-1"></h5>
        <small><%= fragment.datetime %></small>
      </div>
      <p class="mb-1"><%= fragment.content %></p>
    </a>
  </div>
  <div class="col-12 collapse" id="fragment<%= fragment.id %>">
    <div class="btn-group btn-group-toggle pull-right" data-toggle="buttons">
     
      <button type="button" class="btn btn-secondary btn-sm">Share</button>
      <button type="button" class="btn btn-secondary btn-sm">Small button</button>
      <button type="button" class="btn btn-secondary btn-sm">Small button</button>

    </div>       
  </div>  
</div>