<nav class="navbar navbar-light">
  <a class="navbar-brand" href="<%= root_path %>">
  </a>

  <ul class="nav nav-pills pull-right">
    <li class="nav-item dropdown" style="margin-right: 10px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          中文简体
      </a>
  
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/China.png", :style =>"width: 50px; height: 50px;" %>
            中文(简体)
          </a>
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/China-HongKong.png", :style =>"width: 50px; height: 50px;" %>
            中文(繁體)
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/UnitedStates.png", :style =>"width: 50px; height: 50px;" %>
            English
          </a>
      </div>  
    </li>

    <li class="nav-item" style="margin-right: 10px;">
      <div class="btn-group" role="group" aria-label="Basic example">
        <% if user_signed_in? %>
          <a href="<%= home_path %>">
            <button type="button" class="btn btn-secondary">
            
              <%= fa_icon "user" %>
              <%= t('header.profile') %>
          </button>
            </a>

       <% else %>
          <button type="button" class="btn btn-secondary">
            <%= fa_icon "thumbs-up" %>
            <%= t('header.support') %>
          </button>
      <% end %>
      </div>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item dropdown" style="margin-right: 10px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
      </a>
  
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <%= fa_icon "user" %>
            <%= t('header.menu.user') %>
          </a>
          <a class="dropdown-item" href="#">
            <%= fa_icon "cog" %>
            <%= t('header.menu.setting_up') %>
          </a>
            
            <%= form_for(current_user, url: destroy_user_session_path, method: "delete" ) do |form| %>
                <%= button_tag(:class => " dropdown-item", :type => 'submit') do %>
                <%= fa_icon "sign-out" %>
                <%= t('header.menu.logout') %>
              <% end %> 
              
              
            <% end %>
           
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="color: #FF0075">
              <%= fa_icon "thumbs-up" %>
              <%= t('header.menu.support') %>
          </a>
      </div>  
    <% else %>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary bg-dark">
          <a href="<%= new_user_registration_path %>" style="color: #FFF;">
            <%= t('header.register') %>    
          </a>
        </button>
        <button type="button" class="btn btn-secondary bg-info">
          <a href="<%= new_user_session_path %>" style="color: #FFF;">
            <%= t('header.login') %>
          </a>
          </button>
      </div>
    <% end %>
  </ul>
</nav>

<div class="row text-center">
  <div class="col-12">
    <% flash.each do |key, value| %>
      <div class="alert alert-info" role="alert">
        <%= value.kind_of?(Array) ? value.first : value %>
      </div>
    <% end %>
  </div>    
</div>