<nav class="navbar navbar-light">
  <a class="navbar-brand" href="#" >
    <img src="<%= image_url('logo.png') %>" width="30" height="30" class="d-inline-block align-top" alt="">
    <%= t('app.name') %>
  </a>
  
  <ul class="nav nav-pills  nav-tabs" id="app-nav">
    <li class="nav-item">
      <a class="nav-link" href="<%= root_path %>" id="nav-app-home"><%= t('nav.home') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" id="nav-app-discover">
        <%= fa_icon "compass" %>
        <%= t('nav.discover') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= books_path %>" id="nav-app-book">
        <%= fa_icon "book" %>
        <%= t('nav.book') %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= notes_path %>" id="nav-app-note">
        <%= fa_icon "pencil" %>
        <%= t('nav.note') %>
        
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="<%= user_signed_in? ? user_path(current_user) :  new_user_session_path %>" id="nav-app-person">
        <%= fa_icon "user" %>
        <%= t('nav.person') %>
        
      </a>
    </li>
    
    <form class="form-inline my-2 my-lg-0">

      <input class="form-control mr-sm-1" type="search" placeholder="<%= t('nav.search_hint') %>" aria-label="Search">

      <button class="btn btn-sm btn-outline-secondary" type="submit"><%= t('nav.search') %></button>
    </form>
  </ul>
  

  <ul class="nav nav-pills pull-right">
    <li class="nav-item dropdown" style="margin-right: 10px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          中文简体
      </a>
  
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/China.png", :style =>"width: 50px; height: 50px;" %>
            中文(简体)
          </a>
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/China-HongKong.png", :style =>"width: 50px; height: 50px;" %>
            中文(繁體)
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <%= image_tag "flag/UnitedStates.png", :style =>"width: 50px; height: 50px;" %>
            English
          </a>
      </div>  
    </li>

    <li class="nav-item" style="margin-right: 10px;">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">
          <%= fa_icon "thumbs-up" %>
          <%= t('header.support') %>
        </button>
      </div>
    </li>

    <% if user_signed_in? %>
      <li class="nav-item dropdown" style="margin-right: 10px;">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.email %>
      </a>
  
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <%= fa_icon "user" %>
            <%= t('header.menu.user') %>
          </a>
          <a class="dropdown-item" href="#">
            <%= fa_icon "cog" %>
            <%= t('header.menu.setting_up') %>
          </a>
            
            <%= form_for(current_user, url: destroy_user_session_path, method: "delete" ) do |form| %>
                <%= button_tag(:class => " dropdown-item", :type => 'submit') do %>
                <%= fa_icon "sign-out" %>
                <%= t('header.menu.logout') %>
              <% end %> 
              
              
            <% end %>
           
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" style="color: #FF0075">
              <%= fa_icon "thumbs-up" %>
              <%= t('header.menu.support') %>
          </a>
      </div>  
    <% else %>
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary bg-dark">
          <a href="<%= new_user_registration_path %>" style="color: #FFF;">
            <%= t('header.register') %>    
          </a>
        </button>
        <button type="button" class="btn btn-secondary bg-info">
          <a href="<%= new_user_session_path %>" style="color: #FFF;">
            <%= t('header.login') %>
          </a>
          </button>
      </div>
    <% end %>
  </ul>
</nav>

<div class="row text-center">
  <div class="col-12">
    <% flash.each do |key, value| %>
      <div class="alert alert-info" role="alert">
        <%= value.kind_of?(Array) ? value.first : value %>
      </div>
    <% end %>
  </div>    
</div>