<%= form_for '' do |f| %>
  <div class='form-row'>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class='form-row'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
 
  
  <div class='form-row'>
    <%= f.label :avatar, 'Attach Avatar' %>
    <%= f.file_field :avatar %>
  </div>
  
  <div class='form-row'>    
    <%= f.submit %>
  </div>
<% end %>
<div class="row">
  <div class="card col-12 text-center">
    <div class="card-header">
      <a href="<%= root_path %>">
        <img src="logo.png" class="img-fluid" alt="Responsive image" style="width: 60px; height: 60px;">
      </a>
    </div>

    <div class="card-body">
      <div class="card-text">
        <h3 class="display-5 text-center"><%= t('register.license') %></h3>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
          <h4 id="fat">@fat</h4>
          <p>...</p>
          <h4 id="mdo">@mdo</h4>
          <p>...</p>
          <h4 id="one">one</h4>
          <p>...</p>
          <h4 id="two">two</h4>
          <p>...</p>
          <h4 id="three">three</h4>
          <p>...</p>
          <h4 id="fat">@fat</h4>
          <p>...</p>
          <h4 id="mdo">@mdo</h4>
          <p>...</p>
          <h4 id="one">one</h4>
          <p>...</p>
          <h4 id="two">two</h4>
          <p>...</p>
          <h4 id="three">three</h4>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</div>