<div class="text-center">
  <div class="row">
    <div class="col-12">
      <img src="<%= image_url('logo.png') %>" class="img-fluid" alt="Responsive image">
      <h1 class="display-2 text-center">KindleNote</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-3"></div>
    <div class="col-6 align-self-center">
      <blockquote class="blockquote">
        <p class="mb-0"><%= t('app.introduce') %></p>
      </blockquote>
    </div>
    <div class="col-3"></div>
  </div>

  <div class="row" style="margin-top: 20px">
      <div class="col-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
          <div class="card-header"><h2><%= t('welcome.open') %></h2></div>
          <div class="card-body">
            <%= image_tag "github.png", :style =>"width: 50px; height: 50px;" %>
            <p class="card-text"><%= t('welcome.open_description') %></p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
          <div class="card-header"><h2><%= t('welcome.power') %></h2></div>
          <div class="card-body">
            <%= image_tag "thumbs-up.png", :style =>"width: 50px; height: 50px;" %>
            <p class="card-text"><%= t('welcome.power_description') %></p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
          <div class="card-header"><h2><%= t('welcome.terse') %></h2></div>
          <div class="card-body">
            <%= image_tag "simple.png", :style =>"width: 50px; height: 50px;" %>
            <p class="card-text"><%= t('welcome.terse_description') %></p>
          </div>
        </div>
      </div>

  </div>
</div>
<script type="text/javascript">
  $('#nav-app-home').tab('show')
</script>